Ôùç injected env (2) from .env.local // tip: Ôîÿ enable debugging { debug: true }
-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'SEMI_ADMIN', 'SUPPORTER', 'USER');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "usernameSlug" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'USER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserProfile" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "profilePhotoUrl" TEXT,
    "profileBannerUrl" TEXT,
    "displayName" TEXT,
    "pronouns" TEXT,
    "customStatus" TEXT,
    "location" TEXT,
    "profileTitleId" TEXT,
    "profileBadgeId" TEXT,
    "steamProfileUrl" TEXT,
    "xboxProfileUrl" TEXT,
    "psnProfileUrl" TEXT,
    "nintendoProfileUrl" TEXT,
    "xId" TEXT,
    "blueskyId" TEXT,
    "discordId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserTitle" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "hallOfFameTitleId" TEXT NOT NULL,
    "unlockedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserTitle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "HallOfFameTitle" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "hallOfFameGameId" TEXT NOT NULL,

    CONSTRAINT "HallOfFameTitle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserBadge" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "profileBadgeId" TEXT NOT NULL,
    "unlockedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserBadge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProfileBadge" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "requirementText" TEXT NOT NULL,
    "flavorText" TEXT NOT NULL,
    "iconUrl" TEXT NOT NULL,
    "tailwindClasses" TEXT NOT NULL DEFAULT 'border-slate-800 bg-slate-900/50 text-slate-300',
    "isSecret" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProfileBadge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Game" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "thumbnailUrl" TEXT NOT NULL,
    "backgroundUrl" TEXT NOT NULL,
    "logoUrl" TEXT NOT NULL,
    "genres" TEXT[],
    "isHomogeneous" BOOLEAN NOT NULL DEFAULT false,
    "totalAchievements" INTEGER NOT NULL,
    "blindPlaythroughHours" INTEGER NOT NULL,
    "minimumPlaythroughs" INTEGER NOT NULL DEFAULT 1,
    "timeTo100PercentPerfect" INTEGER NOT NULL,
    "timeTo100PercentBase" INTEGER NOT NULL,
    "categoryContextDescription" TEXT NOT NULL,
    "difficultyRating" INTEGER NOT NULL DEFAULT 1,
    "completionOverview" TEXT NOT NULL,
    "mainCategoryId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Game_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MainCategory" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "emoji" TEXT NOT NULL,
    "bgGradient" TEXT NOT NULL,
    "hoverGradient" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MainCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SecondaryCategory" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SecondaryCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AchievementCategory" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "weight" INTEGER NOT NULL DEFAULT 0,
    "theme" TEXT NOT NULL DEFAULT '',
    "tailwindClasses" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AchievementCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Achievement" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "notes" TEXT,
    "imageUrl" TEXT,
    "isSecret" BOOLEAN NOT NULL DEFAULT false,
    "gameId" TEXT NOT NULL,
    "achievementCategoryId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Achievement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "HallOfFameCategory" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "number" INTEGER NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "communityIcons" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "HallOfFameCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "HallOfFameGame" (
    "id" TEXT NOT NULL,
    "reason" TEXT NOT NULL,
    "gameId" TEXT NOT NULL,
    "categoryId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "HallOfFameGame_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Guide" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "gameId" TEXT NOT NULL,
    "authorId" TEXT NOT NULL,
    "approvedAt" TIMESTAMP(3),
    "upvotes" INTEGER NOT NULL DEFAULT 0,
    "views" INTEGER NOT NULL DEFAULT 0,
    "difficultySubmitted" INTEGER NOT NULL,
    "stepsAmount" INTEGER NOT NULL DEFAULT 0,
    "mainCategoryId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Guide_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GuideStep" (
    "id" TEXT NOT NULL,
    "guideId" TEXT NOT NULL,
    "stepNumber" INTEGER NOT NULL,
    "stepWeight" TEXT NOT NULL,
    "title" TEXT,
    "description" TEXT,
    "estimatedTime" TEXT,

    CONSTRAINT "GuideStep_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GuideAchievement" (
    "id" TEXT NOT NULL,
    "guideId" TEXT NOT NULL,
    "achievementId" TEXT NOT NULL,
    "notes" TEXT,

    CONSTRAINT "GuideAchievement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GuideTemp" (
    "id" TEXT NOT NULL,
    "gameId" TEXT NOT NULL,
    "authorId" TEXT NOT NULL,
    "difficultySubmitted" INTEGER,
    "mainCategoryId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GuideTemp_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GuideStepTemp" (
    "id" TEXT NOT NULL,
    "guideTempId" TEXT NOT NULL,
    "stepNumber" INTEGER NOT NULL,
    "stepWeight" TEXT NOT NULL,
    "title" TEXT,
    "description" TEXT,
    "estimatedTime" TEXT,

    CONSTRAINT "GuideStepTemp_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PlayerProgress" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "gameId" TEXT NOT NULL,
    "guideId" TEXT NOT NULL,
    "currentStepNum" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PlayerProgress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserStatistic" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "totalGamesCompleted" INTEGER NOT NULL DEFAULT 0,
    "totalAchievementsObtained" INTEGER NOT NULL DEFAULT 0,
    "numberOfSeriesBeaten" INTEGER NOT NULL DEFAULT 0,
    "gamesWithAverageCompletionLowerThan5Hrs" INTEGER NOT NULL DEFAULT 0,
    "gamesWithAverageCompletionLowerThan10Hrs" INTEGER NOT NULL DEFAULT 0,
    "gamesWithAverageCompletionHigherThan30Hrs" INTEGER NOT NULL DEFAULT 0,
    "gamesWithAverageCompletionHigherThan50Hrs" INTEGER NOT NULL DEFAULT 0,
    "gamesWithAverageCompletionHigherThan100Hrs" INTEGER NOT NULL DEFAULT 0,
    "gamesWith1Playthrough" INTEGER NOT NULL DEFAULT 0,
    "gamesWith2Playthrough" INTEGER NOT NULL DEFAULT 0,
    "gamesWith5PlusPlaythroughs" INTEGER NOT NULL DEFAULT 0,
    "difficulty1Games" INTEGER NOT NULL DEFAULT 0,
    "difficulty2Games" INTEGER NOT NULL DEFAULT 0,
    "difficulty3Games" INTEGER NOT NULL DEFAULT 0,
    "difficulty4Games" INTEGER NOT NULL DEFAULT 0,
    "difficulty5Games" INTEGER NOT NULL DEFAULT 0,
    "difficulty6Games" INTEGER NOT NULL DEFAULT 0,
    "difficulty7Games" INTEGER NOT NULL DEFAULT 0,
    "difficulty8Games" INTEGER NOT NULL DEFAULT 0,
    "difficulty9Games" INTEGER NOT NULL DEFAULT 0,
    "difficulty10Games" INTEGER NOT NULL DEFAULT 0,
    "deadBrokenCompletionGames" INTEGER NOT NULL DEFAULT 0,
    "pieceOfCakeGames" INTEGER NOT NULL DEFAULT 0,
    "allStoryRelatedGames" INTEGER NOT NULL DEFAULT 0,
    "casualFriendlyGames" INTEGER NOT NULL DEFAULT 0,
    "farmingFocusedGames" INTEGER NOT NULL DEFAULT 0,
    "mapSweeperGames" INTEGER NOT NULL DEFAULT 0,
    "highlyCheesableGames" INTEGER NOT NULL DEFAULT 0,
    "willTestYourPatienceGames" INTEGER NOT NULL DEFAULT 0,
    "knowledgeHeavyGames" INTEGER NOT NULL DEFAULT 0,
    "deadEndOdysseyGames" INTEGER NOT NULL DEFAULT 0,
    "needsSkilledExecutionGames" INTEGER NOT NULL DEFAULT 0,
    "pureMasochismGames" INTEGER NOT NULL DEFAULT 0,
    "extremeDisciplineTestGames" INTEGER NOT NULL DEFAULT 0,
    "repetitiveLoopMasteryGames" INTEGER NOT NULL DEFAULT 0,
    "cooperativeJourneyGames" INTEGER NOT NULL DEFAULT 0,
    "massiveTimeSinkGames" INTEGER NOT NULL DEFAULT 0,
    "hallOfFameGames" INTEGER NOT NULL DEFAULT 0,
    "famouslyDifficultGames" INTEGER NOT NULL DEFAULT 0,
    "perfectStructureGames" INTEGER NOT NULL DEFAULT 0,
    "forChallengersOnlyGames" INTEGER NOT NULL DEFAULT 0,
    "monumentalEffortGames" INTEGER NOT NULL DEFAULT 0,
    "hiddenGemsGames" INTEGER NOT NULL DEFAULT 0,
    "narrativeDedicationGames" INTEGER NOT NULL DEFAULT 0,
    "shamelessStatGames" INTEGER NOT NULL DEFAULT 0,
    "dlcHeavyweightGames" INTEGER NOT NULL DEFAULT 0,
    "weekendGames" INTEGER NOT NULL DEFAULT 0,
    "hasCompletedMinecraft" BOOLEAN NOT NULL DEFAULT false,
    "hasCompletedMyNameIsMayo" BOOLEAN NOT NULL DEFAULT false,
    "hasBeatenDoomCrossing" BOOLEAN NOT NULL DEFAULT false,
    "nightOwlCompletion" BOOLEAN NOT NULL DEFAULT false,
    "maxedOutMultitasking" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserStatistic_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_GameToSecondaryCategory" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_GameToSecondaryCategory_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_AchievementCategoryToGuideAchievement" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_AchievementCategoryToGuideAchievement_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_AchievementToGuideStep" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_AchievementToGuideStep_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_AchievementToGuideStepTemp" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_AchievementToGuideStepTemp_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_GuideToSecondaryCategory" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_GuideToSecondaryCategory_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_GuideTempToSecondaryCategory" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_GuideTempToSecondaryCategory_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_usernameSlug_key" ON "User"("usernameSlug");

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "UserProfile_userId_key" ON "UserProfile"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "UserTitle_userId_hallOfFameTitleId_key" ON "UserTitle"("userId", "hallOfFameTitleId");

-- CreateIndex
CREATE UNIQUE INDEX "UserBadge_userId_profileBadgeId_key" ON "UserBadge"("userId", "profileBadgeId");

-- CreateIndex
CREATE UNIQUE INDEX "ProfileBadge_slug_key" ON "ProfileBadge"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "ProfileBadge_name_key" ON "ProfileBadge"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Game_slug_key" ON "Game"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "MainCategory_slug_key" ON "MainCategory"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "MainCategory_label_key" ON "MainCategory"("label");

-- CreateIndex
CREATE UNIQUE INDEX "SecondaryCategory_slug_key" ON "SecondaryCategory"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "SecondaryCategory_label_key" ON "SecondaryCategory"("label");

-- CreateIndex
CREATE UNIQUE INDEX "AchievementCategory_slug_key" ON "AchievementCategory"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "AchievementCategory_label_key" ON "AchievementCategory"("label");

-- CreateIndex
CREATE UNIQUE INDEX "HallOfFameCategory_slug_key" ON "HallOfFameCategory"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "HallOfFameCategory_number_key" ON "HallOfFameCategory"("number");

-- CreateIndex
CREATE UNIQUE INDEX "HallOfFameCategory_name_key" ON "HallOfFameCategory"("name");

-- CreateIndex
CREATE UNIQUE INDEX "HallOfFameGame_gameId_categoryId_key" ON "HallOfFameGame"("gameId", "categoryId");

-- CreateIndex
CREATE UNIQUE INDEX "Guide_slug_key" ON "Guide"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "GuideAchievement_guideId_achievementId_key" ON "GuideAchievement"("guideId", "achievementId");

-- CreateIndex
CREATE UNIQUE INDEX "PlayerProgress_userId_gameId_key" ON "PlayerProgress"("userId", "gameId");

-- CreateIndex
CREATE UNIQUE INDEX "UserStatistic_userId_key" ON "UserStatistic"("userId");

-- CreateIndex
CREATE INDEX "_GameToSecondaryCategory_B_index" ON "_GameToSecondaryCategory"("B");

-- CreateIndex
CREATE INDEX "_AchievementCategoryToGuideAchievement_B_index" ON "_AchievementCategoryToGuideAchievement"("B");

-- CreateIndex
CREATE INDEX "_AchievementToGuideStep_B_index" ON "_AchievementToGuideStep"("B");

-- CreateIndex
CREATE INDEX "_AchievementToGuideStepTemp_B_index" ON "_AchievementToGuideStepTemp"("B");

-- CreateIndex
CREATE INDEX "_GuideToSecondaryCategory_B_index" ON "_GuideToSecondaryCategory"("B");

-- CreateIndex
CREATE INDEX "_GuideTempToSecondaryCategory_B_index" ON "_GuideTempToSecondaryCategory"("B");

-- AddForeignKey
ALTER TABLE "UserProfile" ADD CONSTRAINT "UserProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserTitle" ADD CONSTRAINT "UserTitle_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserTitle" ADD CONSTRAINT "UserTitle_hallOfFameTitleId_fkey" FOREIGN KEY ("hallOfFameTitleId") REFERENCES "HallOfFameTitle"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HallOfFameTitle" ADD CONSTRAINT "HallOfFameTitle_hallOfFameGameId_fkey" FOREIGN KEY ("hallOfFameGameId") REFERENCES "HallOfFameGame"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserBadge" ADD CONSTRAINT "UserBadge_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserBadge" ADD CONSTRAINT "UserBadge_profileBadgeId_fkey" FOREIGN KEY ("profileBadgeId") REFERENCES "ProfileBadge"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Game" ADD CONSTRAINT "Game_mainCategoryId_fkey" FOREIGN KEY ("mainCategoryId") REFERENCES "MainCategory"("slug") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Achievement" ADD CONSTRAINT "Achievement_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES "Game"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Achievement" ADD CONSTRAINT "Achievement_achievementCategoryId_fkey" FOREIGN KEY ("achievementCategoryId") REFERENCES "AchievementCategory"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HallOfFameGame" ADD CONSTRAINT "HallOfFameGame_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES "Game"("slug") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HallOfFameGame" ADD CONSTRAINT "HallOfFameGame_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "HallOfFameCategory"("slug") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Guide" ADD CONSTRAINT "Guide_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES "Game"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Guide" ADD CONSTRAINT "Guide_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Guide" ADD CONSTRAINT "Guide_mainCategoryId_fkey" FOREIGN KEY ("mainCategoryId") REFERENCES "MainCategory"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GuideStep" ADD CONSTRAINT "GuideStep_guideId_fkey" FOREIGN KEY ("guideId") REFERENCES "Guide"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GuideAchievement" ADD CONSTRAINT "GuideAchievement_guideId_fkey" FOREIGN KEY ("guideId") REFERENCES "Guide"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GuideAchievement" ADD CONSTRAINT "GuideAchievement_achievementId_fkey" FOREIGN KEY ("achievementId") REFERENCES "Achievement"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GuideTemp" ADD CONSTRAINT "GuideTemp_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES "Game"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GuideTemp" ADD CONSTRAINT "GuideTemp_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GuideTemp" ADD CONSTRAINT "GuideTemp_mainCategoryId_fkey" FOREIGN KEY ("mainCategoryId") REFERENCES "MainCategory"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GuideStepTemp" ADD CONSTRAINT "GuideStepTemp_guideTempId_fkey" FOREIGN KEY ("guideTempId") REFERENCES "GuideTemp"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlayerProgress" ADD CONSTRAINT "PlayerProgress_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlayerProgress" ADD CONSTRAINT "PlayerProgress_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES "Game"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlayerProgress" ADD CONSTRAINT "PlayerProgress_guideId_fkey" FOREIGN KEY ("guideId") REFERENCES "Guide"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserStatistic" ADD CONSTRAINT "UserStatistic_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_GameToSecondaryCategory" ADD CONSTRAINT "_GameToSecondaryCategory_A_fkey" FOREIGN KEY ("A") REFERENCES "Game"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_GameToSecondaryCategory" ADD CONSTRAINT "_GameToSecondaryCategory_B_fkey" FOREIGN KEY ("B") REFERENCES "SecondaryCategory"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AchievementCategoryToGuideAchievement" ADD CONSTRAINT "_AchievementCategoryToGuideAchievement_A_fkey" FOREIGN KEY ("A") REFERENCES "AchievementCategory"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AchievementCategoryToGuideAchievement" ADD CONSTRAINT "_AchievementCategoryToGuideAchievement_B_fkey" FOREIGN KEY ("B") REFERENCES "GuideAchievement"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AchievementToGuideStep" ADD CONSTRAINT "_AchievementToGuideStep_A_fkey" FOREIGN KEY ("A") REFERENCES "Achievement"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AchievementToGuideStep" ADD CONSTRAINT "_AchievementToGuideStep_B_fkey" FOREIGN KEY ("B") REFERENCES "GuideStep"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AchievementToGuideStepTemp" ADD CONSTRAINT "_AchievementToGuideStepTemp_A_fkey" FOREIGN KEY ("A") REFERENCES "Achievement"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AchievementToGuideStepTemp" ADD CONSTRAINT "_AchievementToGuideStepTemp_B_fkey" FOREIGN KEY ("B") REFERENCES "GuideStepTemp"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_GuideToSecondaryCategory" ADD CONSTRAINT "_GuideToSecondaryCategory_A_fkey" FOREIGN KEY ("A") REFERENCES "Guide"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_GuideToSecondaryCategory" ADD CONSTRAINT "_GuideToSecondaryCategory_B_fkey" FOREIGN KEY ("B") REFERENCES "SecondaryCategory"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_GuideTempToSecondaryCategory" ADD CONSTRAINT "_GuideTempToSecondaryCategory_A_fkey" FOREIGN KEY ("A") REFERENCES "GuideTemp"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_GuideTempToSecondaryCategory" ADD CONSTRAINT "_GuideTempToSecondaryCategory_B_fkey" FOREIGN KEY ("B") REFERENCES "SecondaryCategory"("id") ON DELETE CASCADE ON UPDATE CASCADE;

